@(services: Seq[Service], days: Int)(implicit user: com.gu.googleauth.UserIdentity)

@import views.ViewHelper._

@main {

  <div class="container">
    <div class="row mt-4 mb-4">
      <div class="col-md">
        <h1>Services</h1>
      </div>
      <div class="col-md d-flex pr-0 align-items-center justify-content-md-end">
        <form method="get" action="@routes.ServicesController.list(0)" class="form form-horizontal">
          <div class="form-row justify-content-md-end">
            <div class="col-auto d-flex align-items-center">
              <label for="days" class="mb-0">Deployed within last</label>
            </div>
            <div class="col-4">
              <div class="input-group">
                <input type="text" class="form-control" id="days" name="days" value="@days">
                <div class="input-group-append"><span class="input-group-text">days</span></div>
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-outline-primary">Filter</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr><th>Team</th><th>Service</th><th>Last deployment</th></tr>
        </thead>
        <tbody>
        @for(item <- services) {
          <tr>
            <td>@item.team</td>
            <td>@item.service</td>
            <td>@formatDate(item.lastDeployed) (<time class="timeago" datetime="@item.lastDeployed.toString">@formatDate(item.lastDeployed)</time>)</td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
}
