@(page: es.ES.Page[ApiKey])(implicit user: com.gu.googleauth.UserIdentity, request: RequestHeader, flash: Flash)

@import views.ViewHelper._
@import helper._

@main {

  <div class="page-header">
    <h1>API keys</h1>
  </div>

  <p>You will need an API key if you want to send deployment events to :shipit:</p>


  @for(info <- flash.get("info")) {
    <div class="alert alert-info" role="alert">@info</div>
  }
  @for(error <- flash.get("errors")) {
    <div class="alert alert-danger" role="alert">@error</div>
  }

  <p>Here are the API keys that currently exist, sorted by the user who created them.</p>

  <table class="table table-striped">
    <thead>
      <tr><th>Key</th><th>Created by</th><th>Status</th><th>Description</th><th>Actions</th></tr>
    </thead>
    <tbody>
      @for(item <- page.items) {
        <tr>
          <td>@item.key</td>
          <td>@item.createdBy</td>
          <td>@statusBadge(item)</td>
          <td>@item.description</td>
          <td>
            <form id="disable_@item.id" method="post" action="@routes.ApiKeysController.disable(item.id)">@CSRF.formField</form>
            <form id="enable_@item.id" method="post" action="@routes.ApiKeysController.enable(item.id)">@CSRF.formField</form>
            <form id="delete_@item.id" method="post" action="@routes.ApiKeysController.delete(item.id)">@CSRF.formField</form>
            @if(item.active) {
              <button form="disable_@item.id" class="btn btn-warning btn-sm">Disable</button>
            } else {
              <button form="enable_@item.id" class="btn btn-primary btn-sm">Enable</button>
            }
            <button form="delete_@item.id" class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <ul class="pager">
    @if(page.pageNumber > 1) {
      <li><a href="@routes.ApiKeysController.list(page.pageNumber - 1)">&larr; Prev</a></li>
    }
    @if(page.pageNumber < page.lastPage) {
      <li><a href="@routes.ApiKeysController.list(page.pageNumber + 1)">Next &rarr;</a></li>
    }
  </ul>

  <div class="panel panel-default">
    <div class="panel-heading">Create an API key</div>
    <div class="panel-body">
      <form method="post" action="@routes.ApiKeysController.create" class="form-inline">
        @CSRF.formField
        <div class="form-group">
          <label for="description">Description <small>(optional)</small></label>
          <input type="text" class="form-control" id="description" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

}
