<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{ISO8601} %-5level[%thread] %logger{0} %X{} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka" level="INFO" />
    <logger name="org.apache" level="WARN" />

    <!-- Note: when running in production, a Graylog appender is also added programatically at startup -->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
