@(items: Seq[Deployment])(implicit user: com.gu.googleauth.UserIdentity)

@import views.ViewHelper._

@main {

  <div class="page-header">
    <h1>Deployments</h1>
  </div>

  <!-- TODO filters here -->

  <table class="table table-striped">
    <thead>
      <tr><th>Timestamp</th><th>Team</th><th>Service</th><th>Build ID</th><th>Result</th><th>Links</th></tr>
    </thead>
    <tbody>
      @for(item <- items) {
        <tr>
          <td><time class="timeago" datetime="@item.timestamp.toString">@formatDate(item.timestamp)</time></td>
          <td>@item.team</td>
          <td>@item.service</td>
          <td>@item.buildId</td>
          <td>@resultBadge(item)</td>
          <td>
            @for((link, i) <- item.links.zipWithIndex) {
              <span><a href="@link.url" target="_blank">@link.title</a></span>
              @if(i < item.links.size - 1) { , }
            }
          </td>
        </tr>
      }
    </tbody>
  </table>

  <!-- TODO pagination here -->

}
