@()(implicit user: com.gu.googleauth.UserIdentity)

@main {

  <div class="page-header">
    <h1>:shipit:</h1>
  </div>

  <p>:shipit: is a deployment log service. How to use:</p>

  <ol>
    <li>Send a simple HTTP POST to :shipit: every time you deploy any of your services.</li>
    <li>See all your deployments in a lovely table!</li>
    <li>Let :shipit: take care of sending Slack notifications to #announce_change for you.</li>
  </ol>

  <p>For more details, take a look at the <a href="@routes.MainController.guide">User Guide</a>.</p>

}
