@(content: Html)(implicit user: com.gu.googleauth.UserIdentity)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>:shipit:</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@routes.MainController.index">:shipit:</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav mr-auto">
            <a class="nav-link" href="@routes.DeploymentsController.search()">Deployments</a>
            <a class="nav-link" href="@routes.ServicesController.list()">Services</a>
            <a class="nav-link" href="@routes.ApiKeysController.list()">API keys</a>
            <a class="nav-link" href="@routes.MainController.guide()">User Guide</a>
            <a class="nav-link" href="https://github.com/ovotech/shipit">GitHub</a>
            <a class="nav-link" href="https://app.datadoghq.com/dashboard/sxw-2yb-8sy/shipit-deployments">Datadog</a>
          </div>
          <span class="navbar-text">Logged in as @user.fullName</span>
        </div>
      </nav>
    </header>

    <main role="main">@content</main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    <script src="@routes.Assets.at("javascripts/jquery.timeago.js")"></script>
    <script>
      $(function() {
          $("time.timeago").timeago();
      });
    </script>
  </body>
</html>
